<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>


<ul>
    <% @products.each do |product| %>
        <li>
            <a><%= link_to product.title, product_path(product) %></a> <br>
            Price: $<%= product.price %><br>
            Stock: <%= product.stock_quantity %>
        </li>
    <% end %>
</ul>